
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    margin-top: 2px;
    height: 80px;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 50px 0px 100px;
    position: sticky;
    top: 2px;
}
nav ul{
    display: flex;
    list-style: none;

}
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 500;
    padding: 0rem 3rem;
    

}
nav .logo{
    font-size: 2rem;
    color: white;
    font-weight: 600;
}
nav ul li{
    margin: 0 5px;
}nav ul li a:hover{
    color: crimson;
    border-radius: 100%;
    transition: all 0.3s ease;
}
.logo{
    width: 3.7rem;
    border-radius: 50%;
    float: left;
}
.form {
    opacity: 1;
    height: 88vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    box-shadow: 0 2rem 5rem 0 rgb(252 255 255 / 50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
    transition: 1000ms ease-in;
    color: white;
}


@media (max-width: 760px){
    nav ul{
        position: fixed;
        top: 80px;
        left: 0;
        background-color: black;
        height: 100vh;
        width: 100%;
        display: block;
        text-align: right;
    }
    nav ul li{
        margin: 40px 0;

    }
    nav ul li a{
        font-size: 20px;
        display: block;

    }
    nav ul li a:hover{
        background: none;
        color: cyan;
        border-radius: 100%;
        transition: all 0.3s ease;
    }

}
